/**
 * Pages: Menu
 */

.page-menu {
    #menu {
        height: 256px;
        image-rendering: pixelated;
        margin: 0 auto;
        width: 256px;

        #scale-wrapper {
            transform-origin: top center;
        }
    }
}